{% block title %}Menú del día{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h3>El menú se compone de:</h3>
        <ul>
            <li>Desayuno: {{ desayunoMenu }}</li>
            <li>Comida: {{ comidaMenu }}</li>
            <li>Cena: {{ cenaMenu }}</li>
        </ul>
    </div>
{% endblock %}